<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tomcat360.admin.mapper.TbEquipmentFaulLogMapper">
	<resultMap id="BaseResultMap" type="com.tomcat360.admin.model.TbEquipmentFaulLog">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="equipment_id" property="equipmentId" jdbcType="VARCHAR" />
		<result column="if_down" property="ifDown" jdbcType="CHAR" />
		<result column="down_reason" property="downReason" jdbcType="VARCHAR" />
		<result column="down_time" property="downTime" jdbcType="TIMESTAMP" />
		<result column="recovery_time" property="recoveryTime"
			jdbcType="TIMESTAMP" />
		<result column="key_bord" property="keyBord" jdbcType="CHAR" />
		<result column="teller" property="teller" jdbcType="CHAR" />
		<result column="printer" property="printer" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="banknote_box_status" property="banknoteBoxStatus"
			jdbcType="CHAR" />
		<result column="network_status" property="networkStatus"
			jdbcType="CHAR" />
		<result column="trans_status" property="transStatus" jdbcType="CHAR" />
		<result column="running_status" property="runningStatus"
			jdbcType="CHAR" />
		<result column="module_status" property="moduleStatus"
			jdbcType="CHAR" />
		<result column="prr_status" property="prrStatus" jdbcType="CHAR" />
		<result column="cim_status" property="cimStatus" jdbcType="CHAR" />
		<result column="connect_status" property="connectStatus"
			jdbcType="CHAR" />
		<result column="maintain_status" property="maintainStatus"
			jdbcType="CHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, equipment_id, if_down, down_reason, down_time,
		recovery_time,
		key_bord, teller,
		printer, create_time,
		banknote_box_status, network_status, trans_status,
		running_status,
		module_status, prr_status, cim_status, connect_status, maintain_status
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.tomcat360.admin.model.TbEquipmentFaulLogExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tb_equipment_faul_log
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tb_equipment_faul_log
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		tb_equipment_faul_log
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.tomcat360.admin.model.TbEquipmentFaulLogExample">
		delete from tb_equipment_faul_log
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.tomcat360.admin.model.TbEquipmentFaulLog">
		insert into
		tb_equipment_faul_log (id, equipment_id, if_down,
		down_reason,
		down_time, recovery_time,
		key_bord, teller, printer, create_time,
		banknote_box_status, network_status, trans_status,
		running_status,
		module_status, prr_status,
		cim_status, connect_status, maintain_status
		)
		values (#{id,jdbcType=BIGINT}, #{equipmentId,jdbcType=VARCHAR},
		#{ifDown,jdbcType=CHAR},
		#{downReason,jdbcType=VARCHAR},
		#{downTime,jdbcType=TIMESTAMP}, #{recoveryTime,jdbcType=TIMESTAMP},
		#{keyBord,jdbcType=CHAR}, #{teller,jdbcType=CHAR},
		#{printer,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{banknoteBoxStatus,jdbcType=CHAR}, #{networkStatus,jdbcType=CHAR},
		#{transStatus,jdbcType=CHAR},
		#{runningStatus,jdbcType=CHAR},
		#{moduleStatus,jdbcType=CHAR}, #{prrStatus,jdbcType=CHAR},
		#{cimStatus,jdbcType=CHAR}, #{connectStatus,jdbcType=CHAR},
		#{maintainStatus,jdbcType=CHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tomcat360.admin.model.TbEquipmentFaulLog">
		insert into tb_equipment_faul_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="equipmentId != null">
				equipment_id,
			</if>
			<if test="ifDown != null">
				if_down,
			</if>
			<if test="downReason != null">
				down_reason,
			</if>
			<if test="downTime != null">
				down_time,
			</if>
			<if test="recoveryTime != null">
				recovery_time,
			</if>
			<if test="keyBord != null">
				key_bord,
			</if>
			<if test="teller != null">
				teller,
			</if>
			<if test="printer != null">
				printer,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="banknoteBoxStatus != null">
				banknote_box_status,
			</if>
			<if test="networkStatus != null">
				network_status,
			</if>
			<if test="transStatus != null">
				trans_status,
			</if>
			<if test="runningStatus != null">
				running_status,
			</if>
			<if test="moduleStatus != null">
				module_status,
			</if>
			<if test="prrStatus != null">
				prr_status,
			</if>
			<if test="cimStatus != null">
				cim_status,
			</if>
			<if test="connectStatus != null">
				connect_status,
			</if>
			<if test="maintainStatus != null">
				maintain_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="equipmentId != null">
				#{equipmentId,jdbcType=VARCHAR},
			</if>
			<if test="ifDown != null">
				#{ifDown,jdbcType=CHAR},
			</if>
			<if test="downReason != null">
				#{downReason,jdbcType=VARCHAR},
			</if>
			<if test="downTime != null">
				#{downTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recoveryTime != null">
				#{recoveryTime,jdbcType=TIMESTAMP},
			</if>
			<if test="keyBord != null">
				#{keyBord,jdbcType=CHAR},
			</if>
			<if test="teller != null">
				#{teller,jdbcType=CHAR},
			</if>
			<if test="printer != null">
				#{printer,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="banknoteBoxStatus != null">
				#{banknoteBoxStatus,jdbcType=CHAR},
			</if>
			<if test="networkStatus != null">
				#{networkStatus,jdbcType=CHAR},
			</if>
			<if test="transStatus != null">
				#{transStatus,jdbcType=CHAR},
			</if>
			<if test="runningStatus != null">
				#{runningStatus,jdbcType=CHAR},
			</if>
			<if test="moduleStatus != null">
				#{moduleStatus,jdbcType=CHAR},
			</if>
			<if test="prrStatus != null">
				#{prrStatus,jdbcType=CHAR},
			</if>
			<if test="cimStatus != null">
				#{cimStatus,jdbcType=CHAR},
			</if>
			<if test="connectStatus != null">
				#{connectStatus,jdbcType=CHAR},
			</if>
			<if test="maintainStatus != null">
				#{maintainStatus,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.tomcat360.admin.model.TbEquipmentFaulLogExample"
		resultType="java.lang.Integer">
		select count(*) from tb_equipment_faul_log
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_equipment_faul_log
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.equipmentId != null">
				equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
			</if>
			<if test="record.ifDown != null">
				if_down = #{record.ifDown,jdbcType=CHAR},
			</if>
			<if test="record.downReason != null">
				down_reason = #{record.downReason,jdbcType=VARCHAR},
			</if>
			<if test="record.downTime != null">
				down_time = #{record.downTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.recoveryTime != null">
				recovery_time =
				#{record.recoveryTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.keyBord != null">
				key_bord = #{record.keyBord,jdbcType=CHAR},
			</if>
			<if test="record.teller != null">
				teller = #{record.teller,jdbcType=CHAR},
			</if>
			<if test="record.printer != null">
				printer = #{record.printer,jdbcType=CHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.banknoteBoxStatus != null">
				banknote_box_status =
				#{record.banknoteBoxStatus,jdbcType=CHAR},
			</if>
			<if test="record.networkStatus != null">
				network_status = #{record.networkStatus,jdbcType=CHAR},
			</if>
			<if test="record.transStatus != null">
				trans_status = #{record.transStatus,jdbcType=CHAR},
			</if>
			<if test="record.runningStatus != null">
				running_status = #{record.runningStatus,jdbcType=CHAR},
			</if>
			<if test="record.moduleStatus != null">
				module_status = #{record.moduleStatus,jdbcType=CHAR},
			</if>
			<if test="record.prrStatus != null">
				prr_status = #{record.prrStatus,jdbcType=CHAR},
			</if>
			<if test="record.cimStatus != null">
				cim_status = #{record.cimStatus,jdbcType=CHAR},
			</if>
			<if test="record.connectStatus != null">
				connect_status = #{record.connectStatus,jdbcType=CHAR},
			</if>
			<if test="record.maintainStatus != null">
				maintain_status = #{record.maintainStatus,jdbcType=CHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_equipment_faul_log
		set id = #{record.id,jdbcType=BIGINT},
		equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
		if_down =
		#{record.ifDown,jdbcType=CHAR},
		down_reason =
		#{record.downReason,jdbcType=VARCHAR},
		down_time =
		#{record.downTime,jdbcType=TIMESTAMP},
		recovery_time =
		#{record.recoveryTime,jdbcType=TIMESTAMP},
		key_bord =
		#{record.keyBord,jdbcType=CHAR},
		teller =
		#{record.teller,jdbcType=CHAR},
		printer =
		#{record.printer,jdbcType=CHAR},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP},
		banknote_box_status =
		#{record.banknoteBoxStatus,jdbcType=CHAR},
		network_status =
		#{record.networkStatus,jdbcType=CHAR},
		trans_status =
		#{record.transStatus,jdbcType=CHAR},
		running_status =
		#{record.runningStatus,jdbcType=CHAR},
		module_status =
		#{record.moduleStatus,jdbcType=CHAR},
		prr_status =
		#{record.prrStatus,jdbcType=CHAR},
		cim_status =
		#{record.cimStatus,jdbcType=CHAR},
		connect_status =
		#{record.connectStatus,jdbcType=CHAR},
		maintain_status =
		#{record.maintainStatus,jdbcType=CHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.tomcat360.admin.model.TbEquipmentFaulLog">
		update tb_equipment_faul_log
		<set>
			<if test="equipmentId != null">
				equipment_id = #{equipmentId,jdbcType=VARCHAR},
			</if>
			<if test="ifDown != null">
				if_down = #{ifDown,jdbcType=CHAR},
			</if>
			<if test="downReason != null">
				down_reason = #{downReason,jdbcType=VARCHAR},
			</if>
			<if test="downTime != null">
				down_time = #{downTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recoveryTime != null">
				recovery_time = #{recoveryTime,jdbcType=TIMESTAMP},
			</if>
			<if test="keyBord != null">
				key_bord = #{keyBord,jdbcType=CHAR},
			</if>
			<if test="teller != null">
				teller = #{teller,jdbcType=CHAR},
			</if>
			<if test="printer != null">
				printer = #{printer,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="banknoteBoxStatus != null">
				banknote_box_status = #{banknoteBoxStatus,jdbcType=CHAR},
			</if>
			<if test="networkStatus != null">
				network_status = #{networkStatus,jdbcType=CHAR},
			</if>
			<if test="transStatus != null">
				trans_status = #{transStatus,jdbcType=CHAR},
			</if>
			<if test="runningStatus != null">
				running_status = #{runningStatus,jdbcType=CHAR},
			</if>
			<if test="moduleStatus != null">
				module_status = #{moduleStatus,jdbcType=CHAR},
			</if>
			<if test="prrStatus != null">
				prr_status = #{prrStatus,jdbcType=CHAR},
			</if>
			<if test="cimStatus != null">
				cim_status = #{cimStatus,jdbcType=CHAR},
			</if>
			<if test="connectStatus != null">
				connect_status = #{connectStatus,jdbcType=CHAR},
			</if>
			<if test="maintainStatus != null">
				maintain_status = #{maintainStatus,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tomcat360.admin.model.TbEquipmentFaulLog">
		update
		tb_equipment_faul_log
		set equipment_id =
		#{equipmentId,jdbcType=VARCHAR},
		if_down = #{ifDown,jdbcType=CHAR},
		down_reason = #{downReason,jdbcType=VARCHAR},
		down_time =
		#{downTime,jdbcType=TIMESTAMP},
		recovery_time =
		#{recoveryTime,jdbcType=TIMESTAMP},
		key_bord =
		#{keyBord,jdbcType=CHAR},
		teller = #{teller,jdbcType=CHAR},
		printer =
		#{printer,jdbcType=CHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		banknote_box_status =
		#{banknoteBoxStatus,jdbcType=CHAR},
		network_status =
		#{networkStatus,jdbcType=CHAR},
		trans_status =
		#{transStatus,jdbcType=CHAR},
		running_status =
		#{runningStatus,jdbcType=CHAR},
		module_status =
		#{moduleStatus,jdbcType=CHAR},
		prr_status = #{prrStatus,jdbcType=CHAR},
		cim_status = #{cimStatus,jdbcType=CHAR},
		connect_status =
		#{connectStatus,jdbcType=CHAR},
		maintain_status =
		#{maintainStatus,jdbcType=CHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="findDowntimeEquipment" parameterType="com.tomcat360.admin.model.TbEquipmentFaulLog"
		resultMap="BaseResultMap">
		select * from tb_equipment_faul_log where equipment_id =
		#{equipmentId} and down_time != ''
		ORDER BY create_time desc limit 0,1
	</select>

	<select id="findFaultEquipment" resultType="HashMap"
		parameterType="Map">
		select max(tef.equipment_id) equipmentId, a.area_name country,te.country_id countryId, 
		te.detail_address detailAddress,tes.install_location installLocation,
		sum(case when tef.module_status = '3'  then 1 else 0 end ) moduleStatusNum,
		sum(case when tef.banknote_box_status = '2' or tef.banknote_box_status = '4' then 1 else 0 end) banknoteBoxStatusNum,  
		sum(case when tef.network_status = '1' or tef.network_status = '3'  then 1 else 0 end) networkStatusNum,
		sum(case when  tef.trans_status = '2' or tef.trans_status = '3'  then 1 else 0 end) transStatusNum, 
		sum(case when tef.prr_status = '1' or tef.prr_status = '3'  then 1 else 0 end)  prrStatusNum,
		sum(case when tef.connect_status = '1' then 1 else 0 end)  connectStatusNum,
		sum(case when tef.maintain_status = '1'  then 1 else 0 end)  maintainStatusNum
		from tb_equipment_faul_log tef
		left join tb_equipment te on te.id = tef.equipment_id
		left join tb_area a on a.id = te.country_id left join tb_equipment_settings tes on tes.id = te.id
        <where>
            <if test=" firstTime != null and firstTime != '' ">
                and tef.create_time &gt;= #{firstTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and tef.create_time &lt; #{endTime}
            </if>
            <if test=" id != null and id != '' ">
                and te.id like '%${id}%'
            </if>
            <if test=" countryId != null and countryId != '' ">
                and te.country_id = #{countryId}
            </if>
        </where>
		
		GROUP BY tef.equipment_id
	</select>

	<select id="lackMoneyEquipment" resultType="HashMap">
		select
		tefl.equipment_id
		"equipmentId",

		sum(CASE when tefl.banknote_box_status
		= '2'
		then 1 else 0 END)
		"banknoteBoxCount" ,

		sum(CASE when tefl.printer
		= '2'
		then 1 else 0 END)
		"printerCount" ,

		te.country country,

		te.detail_address detailAddress

		from tb_equipment_faul_log
		tefl,tb_equipment te where te.id =
		tefl.equipment_id
		GROUP BY
		tefl.equipment_id HAVING banknoteBoxCount>0 or printerCount>0

	</select>

</mapper>